.Start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 132px 60px 66px;
  height: 100vh;
  background: url(../../img/light_desk.svg) center top no-repeat, url(../../img/back_desk.svg) center 146px no-repeat, #ECF3FB;
}

.Start .Card {
  height: 370px;
}

.Start .Card .prezent {
  top: -133px;
}

@media (max-width: 797px) {

  .Start {
    padding: 0;
    justify-content: flex-end;
  }

  .Start .Card {
    height: 580px;
    margin-top: 100px;
  }

  .Start .Card .prezent {
    top: -160px;
  }

  .Start .Card .button-wrapper {
    bottom: 35px;
  }

}
