.checkbox {
  display: none;
}

.label {
  position: relative;
  user-select: none;
  display: flex;
  justify-content: space-between;
  font: 11px/30px Inter;
  font-family: 'Inter';
  color: #46474F;
}

.action {
  margin-left: 32px;
}

.action a {
  text-decoration: none;
}

.action::before {
  content: ' ';
  width: 23px;
  height: 23px;
  padding-left: 2px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background: #FCF8F3;
  box-shadow: inset 0px 0px 4px rgb(255 193 93 / 70%);
  border-radius: 5px;
  position: absolute;
  top: 4px;
  left: 0;
}

.no-before.action {
  margin-left: 0;
  padding-right: 1rem;
  line-height: 1.5;
  text-align: left;
}

.no-before.action::before {
  display: none;
}

.bonus {
  color: #7D7E8D;
}

.checkbox:checked~.action::before {
  content: url(../img/check.svg);
  border: 2px solid #FF9E00;
}

.checkbox:checked~.action, .checkbox:checked~.bonus {
  color: #B1B2BA;
}

.label input+span {
  cursor: pointer;
}

.label input:checked+span {
  cursor: default;
}