.Final .Card {
  width: 320px;
  box-shadow: inset 0px 4px 4px rgba(91, 193, 255, 0.1);
}

.Final .card-wrapper {
  background: #FFFFFF;
  box-shadow: inset 0px -2.17647px 2.17647px rgba(91, 193, 255, 0.26);
  border-radius: 13px;
  padding:  4px;
}

.Final .lose .prezent {
  top: -70px;
}

.Final .lose .Headline {
  color: #E40010;
  text-shadow: 0px 2px 0px rgba(31, 33, 83, 0.1);
}
