.FormItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 612px;
  margin: 30px auto 32px;
}

.Field, .Field:focus {
  width: 93%;
  border: none;
  outline: none;
}

.select, .hidden {
  display: none;
}

.select.visible, .visible {
  display: block;
}

.field-wrapper {
  position: relative;
  border: 1px solid #B1B2BA;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 30px 21px 9px;
  width: 300px;
  margin-bottom: 12px;
  font: 14px/14px Inter;
  text-align: left;
  background: #fff;
  cursor: pointer;
}

.field-wrapper:focus-within {
  border-color: #FF9E00;
  caret-color: #FF9E00;
}

.place {
  position: absolute;
  left: 21px;
  top: 21px;
  color: #46474F;
}

.place.focus, .place.products.focus {
  top: 5px;
  font-size: 12px;
  color: #B1B2BA;
}

.place.products.focus {
  font-size: 10px;
  line-height: 10px;
}

.place.products {
  top: 14px;
  max-width: 250px;
}

.arrow {
  position: absolute;
  top: 28px;
  right: 15px;
}

.field-wrapper .error {
  position: absolute;
  color: #f00;
  right: 10px;
  top: 5px;
  /*max-width: 200px;*/
  background: #fff;
  z-index: 1;
}

@media (max-width: 797px) {

  .FormItem {
    justify-content: center;
    margin-top: 10px;
    width: 97%;
  }

  .field-wrapper {
    width: 100%;
  }

}
