.Loading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background: url(../../img/light_desk.svg) center top no-repeat, url(../../img/back_desk.svg) center 146px no-repeat, #ECF3FB;
  position: relative;
}

.Loading .Logo {
  margin: 50px 0 80px;

}

.Logo>img {
  animation: slideFromTop .75s cubic-bezier(0, 0, 0, 1.68);
  position: relative;
}

@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
  }
}

.loading-progress {
  position: relative;
}

.loading-progress img {
  width: 140px;
}

.loading-progress_percent {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: baseline;
  top: 24%;
  font: 32px / 50px 'Baloo';
  color: #003A8B;
  font-family: 'Baloo';
}

.loading-progress_value {
  font: 48px / 76px 'Baloo';
  font-family: 'Baloo';
}

@media (max-width: 797px) {
  .Loading {
    background: url(../../img/light.svg) center top no-repeat, url(../../img/back_desk.svg) center 210px no-repeat, #ECF3FB;
  }

  .Loading .Logo {
    margin: 150px 0 80px;
  }

  .loading-progress img {
    width: 100%;
  }

  .loading-progress_value,
  .loading-progress_value+span {
    font-size: 1.5rem;
  }
}

.ageCorrection {
  background: #FFC15D;
  font-family: 'Baloo';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: .5rem;
  border-radius: 50%;
  color: #FFFFFF;
  position: absolute;
  bottom: 3%;
}