.Loading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background: url(../../img/light_desk.svg) center top no-repeat, url(../../img/back_desk.svg) center 146px no-repeat, #ECF3FB;
}

.Loading .Logo {
  margin: 50px 0 80px;
}

.loading-progress img {
  width: 140px;
}

@media (max-width: 797px) {

  .Loading {
    background: url(../../img/light.svg) center top no-repeat, url(../../img/back_desk.svg) center 210px no-repeat, #ECF3FB;
  }

  .Loading .Logo {
    margin: 150px 0 80px;
  }

  .loading-progress img {
    width: 100%;
  }

}
