@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Baloo';
  src: url(./fonts/Baloo-Cyrillic.ttf);
  font-weight: 400;
  font-style: normal;
}

a {
  color: inherit;
}

button,
button:focus,
button:hover {
  outline: none !important;
}

#root {
  margin: auto;
  width: 798px;
  height: 643px;
  overflow: hidden;
  // border: 1px solid gray;

  @media screen and (max-width: 798px) {
    width: 100%;
    height: 100%;
  }
}


.PopoutWrapper--masked .PopoutWrapper__overlay {
  backdrop-filter: blur(2px);
}