* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Baloo Cyrillic';
    src: url(./fonts/baloo-cyrillic.ttf) format(ttf);
}

button {
    font-family: 'Baloo Cyrillic';
}