@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Baloo';
  src: url(./fonts/Baloo-Cyrillic.ttf);
  font-weight: 400;
  font-style: normal;
}

a {
  color: inherit;
}

button, button:focus, button:hover {
  outline: none !important;
}

#root {
  margin: auto;
  max-width: 798px;
}

.PopoutWrapper--masked .PopoutWrapper__overlay {
  backdrop-filter: blur(2px);
}