@font-face {
  font-family: 'Baloo';
  src: url(./fonts/Baloo-Cyrillic.ttf);
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.ttf');
}

a {
  color: inherit;
}

button, button:focus, button:hover {
  outline: none !important;
}
